.container {
  width: 80%;
  left: 20%;
  right: 20%;
  align-content: center;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.container div {
  padding: 10px;
  font-size: 20px;
  font-family: monospace;
  text-align: left;
}
.main-content {
  width: 60%;
  margin: auto;
}
.main-aside {
  width: 40%;
  margin: auto;
}
.backgroud {
  background-color: beige;
}
.footer{
  background-color: lightgrey;
  text-align: left;
  padding: 10px;
  margin: auto;
  position: fixed;
  left:0 ;
  bottom: 0;
  width: 100%;
}
