body {
  background-color: beige;
}
#wrapper {
  width: auto;
  border: 10px solid black;
  overflow: auto;
}
#first {
  width: auto;
  float:left;
  border: 10px solid green;
}
#second {
  width: auto;
  float: left;
  border: 10px solid red;
}
.box {
  float: center;
  width: 20%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid brown;
  background-color: beige;
}
.center {
  text-align: center;
}